/* Importações de Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* Zerar CSS e atribuir padrões universais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Header - Header */
.header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header{
    color: white;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header h2{
    font-family: 'Source Code Pro', monospace;
}

.menu-header a{
    color: white;
    padding: 25px 20px;
    transition: 0.2s;
}

.menu-header a:hover{
    background-color: #F2803A;
    height: 70px;
}

#header-bars{
    display: none;
}

.fa-bars{
    color: white;
    font-size: 30px;
}

.menu-header-mobile{
    display: none;
}

.menu-header-mobile a{
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    border: 1px solid #68381a;
    display: block;
}

.menu-header-mobile a:hover{
    background-color: #4717F6;
}

/* Banner - Main */
.banner{
    width: 100%;
    height: 794px;
    background-image: url(../img/background-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-banner{
    color: white;
    width: 80%;
    margin-top: 10%;
}

.content-banner p:nth-child(1){
    font-size: 36px;
    color: #cdcdcd;
}

.content-banner h1{
    font-family: 'Satisfy', cursive;
    font-size: 90px;
    font-weight: bolder;
    margin: 10px 0px;
    margin-top: 5px;
}

.line-banner{
    font-size: 30px;
    font-weight: lighter;
    padding-right: 10px;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Special Elite', cursive;
}

.content-banner span{
    color: #F2803A;
    font-weight: bolder;
}

.content-banner p:nth-last-child(2){
    width: 393px;
    font-size: 24px;
    margin: 15px 0px;
    font-weight: lighter;
    color: #cdcdcd;
}

.content-banner a{
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    background-color: #F2803A;
    border-radius: 5px;
    position: relative;
    top: 15px;
    transition: 0.3s;
}

.content-banner a:hover{
    background-color: #4717F6;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0));
}

/* About - Section */
.about{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-about{
    width: 70%;
    height: 100%;
    background-color: #F2803A;
}

.black-about{
    width: 30%;
    height: 100%;
    background-color: #1C1C1C;
}

.content-about{
    width: 1151px;
    height: 640px;
    background: white;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.boxs-about{
    width: 640px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rebeccapurple;
}

.box-image{
    display: none;
}

.box{
    width: 320px;
    height: 320px;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1{
    background-color: #0E0B16;
    color: white;
}

.content-box1, .content-box2, .content-box3, .content-box4{
    width: 280px;
    height: 280px;
    margin: 20px;
}

.content-box1 h2{
    font-size: 48px;
}

.content-box1 p:nth-last-child(2){
    font-size: 20px;
    margin: 15px 0;
}

.content-box1 p:nth-last-child(1){
    width: 282px;
    font-size: 18px;
}

.box2{
    background-color: #E7DFDD;
}

.content-box2 h2, .content-box3 h2, .content-box4 h2{
    font-size: 36px;
}

.content-box2 ul, .content-box3 ul{
    margin: 15px 0px;
    margin-left: 30px;
}

.content-box2 li, .content-box3 li{
    font-size: 27px;
}

.box3{
    background-color: #BA3B4B;
}

.box4{
    background-color: #4717F6;
    color: white;
}

.content-box4 p{
    font-size: 18px;
    margin-top: 20px;
}

.foto-about{
    width: 511px;
    height: 100%;
    background-color: yellow;
}

.foto-about img{
    width: 100%;
    height: 100%;
}

/* Resposividade com medias queries */
/* Adptative */
@media only screen and (max-width: 1159px){
    /* About - Section */
    .content-about{
        width: 640px;
    }

    .foto-about{
        display: none;
    }
}

/* Medium - Tablet and Landscape devices */
@media only screen and (max-width: 992px){
    /* Header - Header */
    #header-bars{
        display: inline;
    }

    .fa-bars{
        font-size: 35px;
    }

    .menu-header{
        display: none;
    }
}

/* Small - Phones*/
@media only screen and (max-width: 768px){
    /* Banner - Main */
    .banner{
        height: auto;
    }

    .content-banner{
        margin: 18.6% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-banner p:nth-last-child(2){
        width: auto;
    }

    /* About - Section */
    .about{
        height:  1750px;
        align-items: center;
    }

    .content-about{
        width: 320px;
        height: auto;
    }

    .box-image{
        display: inline;
        width: 320px;
        height: 394px;
    }

    .content-box-image img{
        width: 100%;
        height: 100%;
    }
}

/* Extra Small - Others Small Devices */
@media only screen and (max-width: 576px){
    /* About - Section */
    .about{
        height: 1500px;
    }

    .content-about{
        width: 274px;
    }

    .boxs-about{
        width: 274px;
    }

    .box{
        width: 274px;
        height: 274px;
    }

    .content-box1, .content-box2, .content-box3, .content-box4{
        width: 230px;
        height: 260px;
        text-align: center;
    }

    .content-box1 h2{
        font-size: 36px;
    }

    .content-box1 p:nth-last-child(2){
        font-size: 20px;
        margin: 10px 0;
    }

    .content-box1 p:nth-last-child(1){
        width: 214px;
        font-size: 16px;
    }

    .content-box2 h2, .content-box3 h2, .content-box4 h2{
        font-size: 24px;
    }

    .content-box2 ul, .content-box3 ul{
        margin: 15px 0px;
        list-style: none;
    }

    .content-box2 li, .content-box3 li{
        font-size: 27px;
    }

    .content-box4 p{
        font-size: 16px;
        margin-top: 20px;
    }

    .box-image{
        display: inline;
        width: 274px;
        height: 338px;
    }
}

@media only screen and (max-width: 376px){
    /* Banner - Main */
    .content-banner p:nth-child(1){
        font-size: 24px;
    }

    .content-banner h1{
        font-size: 72px;
    }

    .line-banner{
        font-size: 24px;
    }

    .content-banner p:nth-last-child(2){
        font-size: 18px;
    }

    .content-banner a{
        font-size: 26px;
        padding: 8px 20px;
        top: 10px;
    }
}

/* Animações css */

/* Classes */
.typing-animation{
    animation: blinkCursor 500ms steps(30) infinite normal, typing 2.5s steps(30) 1s normal both;
}

.aparecer{
    animation: aparecer 2s steps(30) normal;
    transition: 0.2s;
}

/* Banner */
@keyframes blinkCursor{
    form{
        border-right-color: rgba(242, 128, 58, 1);
    }
    to{
        border-right-color: transparent
    }
}

@keyframes typing{
    from{
        width: 0;
    }

    to{
        width: 12.2em;
    }
}

@keyframes delete{
    from{
        width: 11.1em;
    }

    to{
        width: 0;
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}